// Define variables for your color scheme

// For example:
$red: #C5283D;
$blue: #247BA0;
$yellow: #F18F01;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$dark-blue:#263548;
$light-blue:#5FB5C7;
